

.about {
  padding: 70px 0;
  background-color: #fffff;

  @media (max-width: 1260px) {
    padding: 30px 0;
  }

  // — это фон самого скроллбара.
  ::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }
  // — пустое пространство под индикатором прокрутки.
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #fBDBDBD;
  }
  // индикатор прокрутки, перетаскиваемый элемент.
  ::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: $green;
    box-shadow: -2px 0px 0px 0px #4ABAAE;
  }
}

.about__caption {
  text-align: left;
  margin: 0;
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 130%;
  color: #333333;

  @media (max-width: 600px) {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.about__wrapper {
  display: flex;

  @media (max-width: 650px) {
    flex-direction: column-reverse;
  }
}

.about__content {
  width: 50%;

  @media (max-width: 1100px) {
    width: 65%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.about__article {
  height: 300px;
  padding-right: 20px;
  overflow-y: scroll;

  & ul {
    list-style: disc;
    padding-left: 20px;
  }

  & li {
    color: $green;
    margin-bottom: 15px;
  }

  & p {
    color: #333333;
    margin-top: 0;
  }

  & h2 {
    margin: 0;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 30px;
    @media (max-width: 600px) {
      text-align: center;
      font-size: 25px;
      margin-bottom: 15px;
    }
  }

  margin-right: 60px;
  text-align: left;
  font-size: 18px;
  line-height: 130%;
  color: #333333;

  @media (max-width: 1100px) {
    margin-right: 25px;
    font-size: 14px;
  }

  @media (max-width: 650px) {
    margin-right: 0;
  }

  &--about {
    height: 400px;
    margin-right: 40px;
    @media (max-width: 650px) {
      margin-right: 0;
    }
  }
}

.about__preview {
  flex-shrink: 0;
  width: 615px;
  height: 458px;

  @media (max-width: 1100px) {
    flex-shrink: 1;
    // align-self: center;
    width: 415px;
    height: 258px;
  }

  @media (max-width: 650px) {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  & img {
    border-radius: 15px;
  }
}
