.advantages {
  padding: 70px 0;

  @media (max-width: 1200px) {
    padding: 25px 0;
  }
}

.advantages__heading {
  text-align: left;
  margin-top: 0;
  font-size: 40px;
  line-height: 130%;
  color: #333333;
  @media (max-width: 1200px) {
    font-size: 35px;
  }
  @media (max-width: 800px) {
    font-size: 26px;
    text-align: center;
  }
  & span {
    color: $green;
    font-weight: 500;
  }
}

.advantages__list {
  @include list-style;
  display: flex;
  margin-right: -40px;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
  }

  &--neurology {
    @media (max-width: 1240px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -20px;
      margin-bottom: -20px;
    }
  }

  &--doctors {
    flex-wrap: nowrap;
    @media (max-width: 1200px) {
      margin-right: -20px;
    }
    @media (max-width: 650px) {
      flex-wrap: wrap;
      margin-right: -15px;
    }
    @media (max-width: 400px) {
      margin-right: 0;
    }
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 25%;
  padding: 20px;
  margin-right: 40px;
  background: $green;
  border-radius: 10px;

  text-align: left;
  color: #ffffff;
  transition: all .4s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
  }

  @media (max-width: 1200px) {
    width: 45%;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 680px) {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  &--neurology {
    margin-right: 30px;
    padding: 15px;
    padding-bottom: 30px;

    @media (max-width: 1240px) {
      width: 45%;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    @media (max-width: 620px) {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
    }
  }

  &--about {
    justify-content: flex-start;
  }

  &--doctors {
    width: 33%;
    justify-content: flex-start;
    @media (max-width: 1200px) {
      margin-right: 20px;
    }

    @media (max-width: 650px) {
      &:nth-child(2){
        width: 93%;
        order: 1;
      }
      width: 45%;
      margin-right: 15px;
      text-align: center;
    }

    @media (max-width: 400px) {
      &:nth-child(2){
        width: 100%;
      }
      width: 100%;
      margin-right: 0;
    }
  }
}

.advantages__content {
  padding-left: 80px;
  display: flex;
  flex-direction: column;

  background-position: top left;
  background-repeat: no-repeat;

  &--fast {
    background-image: url("../img/svg/icon-fast.svg");
    padding-bottom: 10px;
  }

  &--available,
  &--easy {
    background-image: url("../img/svg/icon-avail.svg");
  }

  &--easy {
    background-position: top -5px left;
    padding-bottom: 10px;
  }

  &--profit,
  &--cost {background-image: url("../img/svg/icon-profit.svg");}

  &--prof {background-image: url("../img/svg/icon-prof.svg");}

  &--lab {
    background-position: top 5px left;
    background-image: url("../img/svg/laboratory.svg");
  }

  &--eff,
  &--new,
  &--safe,
  &--cost,
  &--coop {
    text-align: center;
    padding: 14px 30px;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
      margin-bottom: 10px;
    }
  }

  &--coop {
    background-image: url("../img/svg/coop.svg");
    background-position: center;
    padding: 30px;
  }

  &--eff {background-image: url("../img/svg/eff.svg");}
  &--new {background-image: url("../img/svg/new.svg"); padding-right: 10px;}
  &--safe {background-image: url("../img/svg/safe.svg"); padding-right: 10px;}
}

.advantages__item--doctors .advantages__content {
  padding: 30px;
  background-position: center;
}

.advantages__list--neurology  .advantages__content {
  @media (max-width: 1240px) {
    padding-bottom: 40px;
  }
}

.advantages__caption {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}

.advantages__description {
  margin: 0;
  font-size: 18px;
  line-height: 130%;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}
.advantages__item--about .advantages__description {
  @media (max-width: 680px) {
    text-align: center;
  }
}
