.contacts {
  display: flex;

  @media (max-width: 870px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (max-width: 820px) {
    display: none;
  }

  &--footer {
    @media (max-width: 1100px) {
      display: block;
    }
  }

  &--mobile {
    display: block;
    @media (max-width: 820px) {
      display: block;
    }
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;

  &--start {
    align-items: flex-start;
    margin-left: 0;
    margin-bottom: 20px;
  }

  @media (max-width: 870px) {
    margin-left: 0;
    margin-bottom: 15px;
  }

  &--mobile {
    @media (max-width: 870px) {
      margin: 0;
      margin-top: 15px;
    }
  }
}

.contacts__caption {
  margin: 0;
  color: $green;
  font-weight: 500;

  &--black {
    color: #4F4F4F;
  }
}

.contacts__text {
  color: #828282;

  @media (max-width: 870px) {
    display: none;
  }
}

.contacts__group {
  display: flex;
  align-items: center;
}

.contacts__link {
  transition: all .4s;
  border-color: #4ED3C5;

  &--light {
    color: #828282;

    &:hover {
      color: #333333;
    }

    @media (max-width: 400px) {
      font-size: 11px;
    }
  }

  &--phone-icon,
  &--whatsapp-icon,
  &--reg-icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;

    background-position: center left;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--phone-icon {
    background-image: url("../img/svg/icon-phone.svg");
  }

  &--whatsapp-icon {
    background-image: url("../img/svg/icon-whatsapp.svg");
  }

  &--reg-icon {
    background-size: contain;
    background-image: url("../img/svg/icon-avail.svg");
  }

  &--phone {
    font-weight: 500;
    font-size: 18px;
    color: #333333;

    @media (max-width: 870px) {
      font-size: 12px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &--whatsapp {
    &:hover {
      opacity: 0.8;
    }
  }
}

.mobile-contacts  {
  display: none;
  @media (max-width: 820px) {
    display: flex;
    margin-right: 40px;
  }
}

.mobile-contacts  .contacts__link {
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  background-color: $green;
  border-radius: 50%;
}

.mobile-contacts .contacts__link {
  &--phone-icon {
    background-position: center;
    background-image: url("../img/svg/icon-phone-white.svg");
  }

  &--whatsapp-icon {
    background-position: center;
    background-image: url("../img/svg/icon-whatsapp-white.svg");
  }
}
