.contacts {
  display: flex;
  gap: 30px;

  @media (max-width: 870px) {
    gap: 15px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__caption {
  margin: 0;
  color: $green;
  font-weight: 500;
}

.contacts__text {
  color: #828282;

  @media (max-width: 870px) {
    display: none;
  }
}

.contacts__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  transition: all .4s;

  &--phone-icon,
  &--whatsapp-icon {
    width: 22px;
    height: 22px;

    background-position: center left;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--phone-icon {
    background-image: url("../img/svg/icon-phone.svg");
  }

  &--whatsapp-icon {
    background-image: url("../img/svg/icon-whatsapp.svg");
  }

  &--phone {
    font-weight: 500;
    font-size: 18px;
    color: #333333;

    @media (max-width: 870px) {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &--whatsapp {
    &:hover {
      opacity: 0.8;
    }
  }
}
