.faq__caption {
  text-align: left;
  font-size: 40px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 25px;
  margin-top: 0;

  @media (max-width: 1100px) {
    font-size: 30px;
  }
}

.faq {
  button {
    outline: none;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;

    font-size: 22px;
    line-height: 130%;
    color: #333333;
    padding-right: 30px;
    text-align: left;
    @media (max-width: 1100px) {
      font-size: 18px;
    }
  }
}

.faq__hidden {
  overflow: hidden;
  transition: all 1s;

  &--on {
    max-height: 1000px;
  }

  &--off {
    max-height: 0;
    overflow: hidden;
  }
}

.faq__wrapper {
  width: 100%;
  margin-bottom: 40px;

  @media (max-width: 1100px) {
    margin-bottom: 20px;
  }
}

.faq__content {
  width: 100%;
}

.faq__item {
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  margin-bottom: 30px;

  @media (max-width: 1100px) {
    padding: 20px;
    margin-bottom: 20px;
  }
}

// стилизация аккордеона

.accordion {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;

  cursor: pointer;

  &::before {
    @include pseudo;
    top: -1px;
    right: -1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $green;

    @media (max-width: 500px) {
      top: -1px;
      right: -1px;
      width: 25px;
      height: 25px;
    }
  }

  &::after {
    @include pseudo;
    top: 14px;
    right: 12px;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    transform: rotate(-45deg);

    @media (max-width: 500px) {
      top: 9px;
      right: 9px;
      width: 6px;
      height: 6px;
      border-top: 2px solid #FFFFFF;
      border-right: 2px solid #FFFFFF;
    }

    transition: all .4s;
  }
}

.active {
  &::before {
    @include pseudo;

    right: 0px;
    top: -1px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: $green;

    @media (max-width: 500px) {
      top: -1px;
      right: -1px;
      width: 25px;
      height: 25px;
    }
  }

  &::after {
    @include pseudo;
    top: 7px;
    right: 13px;
    width: 15px;
    height: 15px;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    transform: rotate(135deg);

    @media (max-width: 500px) {
      top: 9px;
      right: 9px;
      width: 6px;
      height: 6px;
      border-top: 2px solid #FFFFFF;
      border-right: 2px solid #FFFFFF;
    }

    transition: all .4s;
  }
}

.active, .accordion:hover {
  // transform: scale(1.01);
}

.panel {
  padding-right: 140px;

  @media (max-width: 1250px) {
    padding-right: 100px;
  }

  @media (max-width: 1100px) {
    padding-right: 65px;
    font-size: 14px;
  }

  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #828282;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  & p {
    margin: 0;
  }
}
