.form {
  ::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDBDBD;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  :-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDBDBD;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  ::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDBDBD;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  :-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDBDBD;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  ::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDBDBD;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  ::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #BDBDBD;

    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  :focus::-webkit-input-placeholder {
    color: transparent;
  }
  :focus::-moz-placeholder {
    color: transparent;
  }
  :focus:-moz-placeholder {
    color: transparent;
  }
  :focus:-ms-input-placeholder {
    color: transparent;
  }
  :hover::-webkit-input-placeholder {
    color: #BDBDBD;
  }
  :hover::-moz-placeholder {
    color: #BDBDBD;
  }
  :hover:-moz-placeholder {
    color: #BDBDBD;
  }
  :hover:-ms-input-placeholder {
    color: #BDBDBD;
  }

  width: 442px;
  position: relative;
  background-color: #ffffff;
  padding: 70px;
  padding-bottom: 50px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  box-shadow: 0px 30.1471px 24.1177px rgba(62, 61, 64, 0.0456112), 0px 12.5216px 10.0172px rgba(62, 61, 64, 0.035), 0px 4.5288px 3.62304px rgba(62, 61, 64, 0.0243888);
  border-radius: 15px;

  @media (max-width: 1100px) {
    width: 50%;
    padding: 40px;
    padding-bottom: 0px;
  }

  @media (max-width: 750px) {
    padding: 15px;
    padding-bottom: 0;
    width: 100%;
  }

  // &--modal {
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  //   padding: 35px;
  //   padding-top: calc(35px - 1em);
  //   box-shadow: none;
  //   border-radius: 20px;
  // }
}

.form__caption {
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  color: #333333;
  margin-top: 0;
  margin-bottom: 30px;

  @media (max-width: 750px) {
    margin-bottom: 20px;
  }

  // &--modal {
  //   text-align: center;
  //   margin-bottom: calc(35px - 1em);
  // }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: 750px) {
    margin-bottom: 20px;
  }

  // &--modal {
  //   flex-direction: column;
  //   margin-bottom: 0;
  // }

  &--agreement {
    justify-content: center;
  }
}

.form__input,
textarea {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px;

  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  transition: all .5s;

  @media (max-width: 750px) {
    margin-bottom: 15px;
    padding: 10px;
  }

  &:hover {
    box-shadow: inset 0px 0px 10px 0px #4abaafa2;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 10px 0px #4abaafa2;
  }
}

.form__label {
  width: 100%;

  &--checkbox {
    width: 320px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 140%;
    color: #828282;

    @media (max-width: 1100px) {
      width: 70%;
    }

    &:hover {
    }
  }

  // &--modal {
  //   width: 100%;
  //   margin-bottom: 20px;
  // }

  // &--modal-checkbox {
  //   width: auto;
  // }
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + label {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.form__checkbox + label::after {
  @include pseudo;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #828282;
  border-radius: 1.66721px;
}

.form__checkbox:checked + label::before {
  @include pseudo;
  top: 3px;
  left: 4px;
  border: solid #828282;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
}

.form__link--agreement {
  font-size: 11px;
  line-height: 140%;
  color: #828282;
  text-decoration: underline;
  transition: all .4s;

  &:hover {
    color: #333333;
  }
}

// .form-modal {
//   display: none;
//   max-width: 465px;
//   padding: 0;

//   border-radius: 20px;
// }

.form textarea {
  resize: none;
  height: 108px;
  margin-bottom: 30px;

  @media (max-width: 750px) {
    height: 65px;
    margin-bottom: 20px;
  }
}
