.header {
  position: relative;
  width: 100%;
  min-height: 76px;
  padding-top: 20px;
  padding-bottom: 0;

  @media (max-width: 870px) {
    padding-top: 10px;
  }

  @media (max-width: 820px) {
    padding-right: 50px;
  }

  @media (max-width: 610px) {
   padding-right: 0;
  }
}

.header__top {
  padding-bottom: 25px;

  @media (max-width: 870px) {
    padding-bottom: 15px;
  }
}

.header__bottom {
  background-color: $green;
  min-height: 60px;
  width: 100%;

  @media (max-width: 820px) {
    min-height: 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 610px) {
    flex-direction: column;
  }
}
