.hero {
  min-height: 550px;
  background: linear-gradient(90deg, rgba(226,226,225,1) 50%, rgba(244,242,239,1) 50%);

  @media (max-width: 800px) {
    min-height: 350px;
  }

  &--neurology {
    background-position: center;
    background-repeat: no-repeat;

    background: url("../img/slider-hero/neurology.jpg") center no-repeat, linear-gradient(90deg, rgb(181, 184, 190) 50%, rgba(235,236,240,1) 50%);
    @media (max-width: 1000px) {
      background-position-x: -100px;
      background-color: #F2F2F2;
    }

    @media (max-width: 600px) {
      background-position-x: -250px;
    }
  }

  &--about {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background: url("../img/slider-hero/about.jpg") center no-repeat, linear-gradient(90deg, rgb(235, 238, 243) 50%, rgba(235,236,240,1) 50%);

    @media (max-width: 1000px) {
      background-position-x: -100px;
      background-color: #F2F2F2;
    }

    @media (max-width: 600px) {
      background-position-x: -250px;
    }
  }

  &--contacts {
    min-height: 729px;
    padding-bottom: 70px;
    background-position: bottom;
    background-repeat: no-repeat;

    background: url("../img/contacts-bg.jpg") center no-repeat, linear-gradient(0deg, rgba(244,244,245,1) 40%, rgba(255,255,255,1) 56%);
  }

  &--faq {
    min-height: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    background: unset;
    background-color: #ffffff;

    @media (max-width: 1100px) {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    @media (max-width: 650px) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  &--services {
    background: url("../img/services-main.jpg") center center no-repeat, linear-gradient(90deg, rgb(185, 195, 192) 30%, rgb(250, 251, 253) 70%);
  }
}
