.hero {
  min-height: 550px;
  background: linear-gradient(90deg, rgba(226,226,225,1) 50%, rgba(244,242,239,1) 50%);

  @media (max-width: 800px) {
    min-height: 350px;
  }

  &--neurology {

    background-position: center;
    background-repeat: no-repeat;

    background-color: linear-gradient(90deg, rgba(168,176,193,1) 50%, rgba(235,236,240,1) 50%);
    background-image: url("../img/slider-hero/neurology.jpg");

    @media (max-width: 800px) {
      background-image: unset;
      background-color: #F2F2F2;
    }
  }
}
