.notime {
  min-height: 685px;
  background-color: $green;

  @media (max-width: 1165px) {
    min-height: 550px;
  }

  @media (max-width: 810px) {
    min-height: auto;
  }
}

.notime__wrapper {
  width: 100%;
  min-height: 685px;
  background-image: url("../img/notime-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-left: 20px;

  @media (max-width: 1165px) {
    min-height: 550px;
    background-position: bottom right -200px;
  }

  @media (max-width: 810px) {
    min-height: auto;
    background-image: unset;
    margin-left: 0;
  }
}

.notime__content {
  width: 45%;
  padding: 70px 0;

  @media (max-width: 1200px) {
    padding: 35px 0;
    padding-bottom: 70px;
  }

  @media (max-width: 810px) {
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 470px) {
    padding-bottom: 35px;
  }
}

.notime__caption {
  text-align: left;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 25px;
  margin-top: 0;

  @media (max-width: 810px) {
    font-size: 30px;
  }
}

.notime__list {
  margin-left: 20px;
  margin-bottom: 45px;
}

.notime__item {
  padding-left: 20px;
  margin-bottom: 20px;

  text-align: left;
  font-size: 22px;
  line-height: 130%;
  color: #F3F3F3;

  @media (max-width: 920px) {
    font-size: 16px;
    padding-left: 10px;
  }
}

.notime__link {
  width: 320px;
  background-color: #FFFFFF;

  @media (max-width: 810px) {
    width: 100%;
  }
}
