.slick-slider .slider-hero {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, rgba(226,226,225,1) 45%, rgba(243,243,243,1) 45%);

  @media (max-width: 870px) {
  }

  @media (max-width: 800px) {
    padding: 20px 0;
    background: rgba(243,243,243,1);
  }
}

.slider__wrapper {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Точки (булиты) */
.slick-dots {
  position: relative;
  display: flex;
  z-index: 10;
  margin-right: -15px;
  margin-top: -40px;
  justify-content: center;
  align-self: center;
}

.slick-dots li{
  list-style: none;
  margin-right: 15px;
}

/* Активная точка */
.slick-dots li.slick-active button{
  background-color: $green;
  transform: scale(1.1);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

/* Элемент точки */
.slick-dots li button{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  background-color: #E0E0E0;
  cursor: pointer;

  transition: all .4s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
  }
}

/* Слайд */
.slick-slide {
  display: flex;
  justify-content: center;
  width: 100%;

  background-position: left center;
  background-size: cover;
  background-image: url("../img/slider-hero/spinner-bg.jpg");

  @media (max-width: 1200px) {
    background-image: url("../img/slider-hero/spinner-bg-mobile.svg");
  }
}

.slider-hero__item {
  background-position: center;
  background-repeat: no-repeat;

  &--1 {
    background-color: #F2F2F2;
  }

  &--2 {
   background-image: url("../img/slider-hero/slider-hero-bg-1.jpg");
   @media (max-width: 800px) {
      background-image: unset;
      background-color: #F2F2F2;
    }
  }

  &--3 {
    background-image: url("../img/slider-hero/world1.jpg");
    @media (max-width: 860px) {
      background-image: url("../img/slider-hero/world-mob.jpg");
    }
  }

  &--5 {
    background-image: url("../img/slider-hero/doctors-slide-1.jpg");
    @media (max-width: 800px) {
      background-image: unset;
      background-color: #ffffff;
    }
  }

  &--6 {
    background-image: url("../img/slider-hero/doctors-slide-2.jpg");
    @media (max-width: 800px) {
      background-image: unset;
      background-color: #ffffff;
    }
  }
  &--covid {
    background: unset;
  }
}

.slider-hero__icons {
  display: none;
  @media (max-width: 1200px) {
    @include list-style;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-right: -30px;
  }
}

.slider-hero__icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  border-radius: 50%;
  background-color: $green;

  background-position: center;
  background-size: contain;

  &--phone {
    background-image: url("../img/slider-hero/iconPhone.svg");}
  &--sms {
    background-image: url("../img/slider-hero/iconSms.svg");}
  &--video {
    background-image: url("../img/slider-hero/iconVideo.svg");}
}

.slider-hero__content,
.slider-hero__content-covid {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 630px;
  min-height: 550px;
  padding: 60px 0;
  margin-left: auto;
  color: #333333;

  &--doctors {
    width: 750px;
  }

  @media (max-width: 800px) {
    width: 100%;
    min-height: 350px;
    padding: 50px 20px;
    margin: 0 auto;
  }

  @media (max-width: 550px) {
    font-size: 30px;
    padding: 30px 0;
  }

  &--card {
    width: 740px;
    justify-content: center;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  &--slised {
    width: 80%;
    padding: 50px 150px;

    @media (max-width: 1213px) {
      padding: 50px 100px;
    }

    @media (max-width: 1000px) {
      padding: 50px;
    }

    @media (max-width: 860px) {
      width: 100%;
      padding: 0;
      justify-content: center;
    }
  }

  &--neurology {
    padding: 60px 0;
    @media (max-width: 1100px) {
      min-height: 350px;
      padding: 10px 20px;
    }

    @media (max-width: 800px) {
      min-height: 350px;
      padding: 50px 20px;
    }

    @media (max-width: 550px) {
      font-size: 30px;
      padding: 10px 0;
    }
  }

  &--about {
    width: 65%;
    @media (max-width: 1200px) {
      padding: 30px 20px;
    }
    @media (max-width: 1000px) {
      padding: 40px 10px;
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 550px) {
      padding: 20px 10px;
    }
  }

  &--bg {
    @media (max-width: 1100px) {
      // padding: 5px 10px;
      background-color: #fffffff0;
    }

    @media (max-width: 800px) {
      // padding-left: 0;
    }
  }

  &--services {
    padding: 45px 0;
    @media (max-width: 1100px) {
      padding: 10px 0;
      justify-content: center;
    }
  }
}

.slider-hero__content-covid {
  &--bg {
    @media (max-width: 1100px) {
      padding: 20px;
      background-color: #fffffff0;
    }
    @media (max-width: 600px) {
      padding: 20px 10px;
    }
  }
}


.slider-hero__save {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  width: 818px;
  height: 220px;
  border-radius: 20px;

  @media (max-width: 860px) {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 20px;
    background-color: #ffffffe6;
    align-items: center;
  }
}

.slider-hero__save-caption {
  font-size: 30px;
  padding-left: 100px;
  margin: 0;
  margin-bottom: 70px;

  @media (max-width: 860px) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.slider-hero__save-link{
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: #FFFFFF;
  padding-left: 300px;
  transition: all .4s;

  &:hover {
    color: #333333;
  }

  @media (max-width: 1213px) {
    padding-left: 200px;
  }

  @media (max-width: 1000px) {
    padding-left: 150px;
  }

  @media (max-width: 860px) {
    color: #333333;
    font-size: 40px;
    padding: 0;

    &:hover {
      color: $green;
    }

  }

  @media (max-width: 550px) {
    font-size: 30px;
  }
}

.slider-hero__card-wrapper {
  @media (max-width: 1100px) {
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffffe5;
  }
}

.slider-hero__content-card {
  padding: 60px 54px 76px 44px;
  background: #FFFFFF;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 30.1471px 24.1177px rgba(62, 61, 64, 0.0456112), 0px 12.5216px 10.0172px rgba(62, 61, 64, 0.035), 0px 4.5288px 3.62304px rgba(62, 61, 64, 0.0243888);
  border-radius: 15px;

  @media (max-width: 1300px) {
    align-self: center;
  }

  @media (max-width: 850px) {
    padding: 20px
  }

  @media (max-width: 550px) {
    padding: 10px
  }
}

.slider-hero__content-card-text {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  line-height: 140%;
  text-align: center;
  color: #333333;

  @media (max-width: 850px) {
    font-size: 30px;
    margin-bottom: 15px;
  }

  @media (max-width: 550px) {
    font-size: 20px;
  }
}

.slider-hero__remark {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
  padding-left: 5px;

  @media (max-width: 1200px) {
    display: none;
  }
}

.slider-hero__remark-caption {
  font-size: 20px;
  line-height: 140%;
  color: #4F4F4F;
  text-align: left;
  margin: 0;

  @media (max-width: 1300px) {
    font-size: 18px;
  }
}

.slider__hero-remark-subcaption {
  position: relative;
  font-size: 14px;
  line-height: 140%;
  color: #828282;
  padding-left: 10px;
  text-align: left;

  @media (max-width: 1300px) {
    font-size: 12px;
  }

  &--card {
    display: none;

    @media (max-width: 1200px) {
      display: inline-block;
      margin-top: 15px;
    }
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #828282;
  }
}

.slider-hero__remark-item {
  text-align: left;
}

.slider-hero__caption {
  font-size: 60px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }

  &--world {
    font-weight: 500;
    font-size: 60px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 80px;

    @media (max-width: 1213px) {
      font-size: 50px;
      margin-bottom: 110px;
    }

    @media (max-width: 1047px) {
      margin-bottom: 120px;
    }

    @media (max-width: 860px) {
      text-align: center;
      font-size: 30px;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #ffffffe6;
      border-radius: 20px;
    }
  }

  &--small {
    font-size: 50px;
    margin-bottom: 25px;

    @media (max-width: 800px) {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }
}

.slider-hero__subcaption {
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }

  & span {
    font-weight: 600;
    color: $green;
  }

  &--about {
    font-size: 40px;
    margin-bottom: 35px;

    @media (max-width: 1000px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
      margin-bottom: 25px;
    }

    & span {
      font-weight: 500;
    }
  }
}

.slider-hero__warning {
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  color: #ED3D43;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.slider-hero__text {
  font-size: 22px;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  &--colored {
    width: 324px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 100px;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: $green;

    background-image: url("../img/slider-hero/arrow.svg");
    background-position: bottom right;
    background-repeat: no-repeat;

    @media (max-width: 800px) {
      padding-right: 100px;
      background-size: contain;
    }

    @media (max-width: 420px) {
      width: auto;
      background-image: unset;
      font-size: 30px;
      padding-right: 0;
    }
  }

  &--about {
    width: 70%;
    margin-bottom: 55px;
    font-size: 22px;
    line-height: 140%;
    color: #4F4F4F;

    @media (max-width: 1000px) {
      width: 100%;
      font-size: 18px;
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }
}

.slider-hero__offer {
  position: relative;
  font-size: 18px;
  color: #828282;
  padding-left: calc(15px + 28px);
  padding-right: 200px;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    padding-right: 0;
    margin-bottom: 15px;
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-image: url("../img/svg/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--doctors {
    margin-bottom: 50px;
    @media (max-width: 800px) {
      padding-right: 0;
      margin-bottom: 15px;
    }
  }
}

.slider-hero__btns {
  display: flex;
  margin-right: -20px;

  @media (max-width: 450px) {
    flex-direction: column;
    margin-right: 0;
  }
}

.slider-hero__btn {
  width: 100%;
  margin-right: 20px;

  @media (max-width: 450px) {
    margin-bottom: 15px;
    margin-right: 0;
  }

  &--call {
    background-color: #ffffff;
  }

  &--reg {
    background-color: #4ED3C5;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #4ED3C5;
      border: 2px solid #4ED3C5;
    }
  }
}

.slider-hero__link {
  margin-right: 50px;
  align-self: flex-end;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  color: #ED3D43;
  transition: all .4s;

  &:hover {
    color: #9a383b;
  }

  @media (max-width: 800px) {
    margin-right: 0;
    align-self: center;
  }

  @media (max-width: 410px) {
    font-size: 30px;
  }
}


// CЛАЙДЕР ОТЗЫВОВ
.slider-reviews {
  position: relative;
  width: 100%;
}

.slider-reviews .slick-list {
  display: flex;
  padding: 10px 0;
  margin-left: -20px;
  margin-right: -20px;

  @media (max-width: 1200px) {
    margin: 0 -10px;
  }
}

.slider-reviews .slick-slide  {
  display: flex;
  min-height: 510px;
  padding: 10px 20px;
  background-image: unset;

  @media (max-width: 1200px) {
    padding: 0 10px;
  }

  @media (max-width: 850px) {
    min-height: 450px;
  }

  @media (max-width: 620px) {
    min-height: 340px;
  }
}

.slider-reviews .slick-dots {
  margin-top: 40px;

  @media (max-width: 1200px) {
    margin-top: 10px;
  }
}
