.trust {
  padding: 80px 0;
  background-color: #ffffff;

  @media (max-width: 1200px) {
    padding: 30px 0;
  }
}

.trust__caption {
  text-align: left;
  margin: 0;
  font-size: 40px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 40px;

  @media (max-width: 1200px) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @media (max-width: 800px) {
    text-align: center;
  }
}

.trust__banner {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  border-radius: 15px;
  padding: 50px 40px;
  background-color: $green;
  border: 1px solid #E0E0E0;
  margin-bottom: 40px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/trust-bg.svg");

  @media (max-width: 1230px) {
    padding: 30px 20px;
  }

  @media (max-width: 1110px) {
    padding: 20px 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 880px) {
    background-image: unset;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    padding: 0;
  }
}

.trus__banner-column {
  width: 30%;
  // display: flex;

  @media (max-width: 650px) {
    width: 100%;
  }

  &--left {
    padding-right: 30px;
    @media (max-width: 1110px) {
      padding-right: 10px;
    }
    @media (max-width: 880px) {
      padding: 0;
    }

    @media (max-width: 650px) {
      padding: 15px;
    }
  }

  &--center {
    @media (max-width: 880px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      margin-top: -20px;
      margin-bottom: -20px;
      padding: 10px;

      @media (max-width: 650px) {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 35px 10px;
      }
    }
  }

  &--right {
    padding-left: 40px;
    @media (max-width: 1110px) {
      padding-left: 30px;
    }
    @media (max-width: 880px) {
      padding: 0;
    }
    @media (max-width: 650px) {
      padding: 15px;
    }
  }
}

.trust__text {
  margin: 0;
  text-align: left;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;

  @media (max-width: 1110px) {
    font-size: 14px;
  }

  &--large {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #828282;
    margin-bottom: 20px;

    @media (max-width: 1110px) {
      font-size: 24px;
    }
    @media (max-width: 800px) {
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.trust__link {
  color: #ffffff;
  background: #4ED3C5;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @media (max-width: 1110px) {
    padding: 5px;
    font-size: 12px;
    line-height: 120%;
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 550px) {
    width: 100%;
  }

  &:hover {
    background-color: #ffffff;
    color: #4ED3C5;
    border: 2px solid #4ED3C5;
    animation-play-state: paused;
   }
}


.trust__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -40px;

  @media (max-width: 1230px) {
    margin-bottom: -20px;
  }
}

.trust__item {
  text-align: left;
  width: 48%;
  padding: 40px;
  padding-bottom: 25px;
  border: 2px solid #E0E0E0;
  box-shadow: 0px 30.1471px 24.1177px rgba(62, 61, 64, 0.0456112), 0px 12.5216px 10.0172px rgba(62, 61, 64, 0.035), 0px 4.5288px 3.62304px rgba(62, 61, 64, 0.0243888);
  border-radius: 15px;
  margin-bottom: 40px;

  @media (max-width: 1230px) {
    width: 49%;
    margin-bottom: 20px;
    padding: 20px;
  }

  @media (max-width: 650px) {
    width: 100%;
    padding: 14px;
  }
}

.trust__item-caption {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  color: #4ABAAE;
  margin-bottom: 15px;

  @media (max-width: 650px) {
    font-size: 24px;
  }
}

.trust__item-text {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 130%;
  color: #333333;

  @media (max-width: 650px) {
    font-size: 14px;
  }
}
