.btn {
  display: flex;
  align-self: start;
  min-height: 40px;
  padding: 17px 35px 18px;
  border: 2px solid #4ED3C5;
  border-radius: 53px;
  background-color: transparent;

  justify-content: center;
  align-items: center;

  color: #4ED3C5;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;

  cursor: pointer;
  transition: all .4s;

  @media (max-width: 1100px) {
    padding: 17px 15px 18px;
  }

  @media (max-width: 870px) {
    padding: 5px;
    font-size: 12px;
    line-height: 120%;
    width: 100%;
  }

  &:hover {
    color: #ffffff;
    background-color: #4ED3C5;
    border-color: #ffffff;
  }
}
