*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  height: 100%;
  margin: 0 auto;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.scroll-stop {
  overflow: hidden;
}

.scroll-on {
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.colored {
  &--blue {
    color: #055ef3;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(0.95);
  }
}
